/* Created by Abdur Rahman  */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
  background: #F5F8FF;
  /* background: #f5f7ff; */
  line-height: 1.6;
}

/* Hero Section  */

a {
  text-decoration: none;
}

.btn {
  background: #3d5afe;
  color: white;
  padding: 10px 20px;
  border: none;
  display: inline-block;
  border-radius: 5px;
}
.btn:hover {
  background: #f4d642;
  color: rgb(0, 0, 0);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  /* background: #fff; */
  position: sticky;
  /* top: -20; */
  /* z-index: 1000; */
}

.logo {
  font-weight: bold;
  color: #4E47FF;
  font-size: 34px;
}
.logo img:hover{
  
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.hero {
  text-align: center;
  padding: 0px 20px 100px;
  background: url('../images/Hero-bg.png') center center/cover no-repeat;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

/* Preview Section  */
.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
}

.preview .text {
  max-width: 400px;
}
.preview .text p {
  /* color: #252432; */
  color: #a9afbb;
}

.preview-img {
  max-width: 400px;
  margin-top: 20px;
  border-radius: 40px;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: #252432;
}

/* Statistics Section */
.stats {
  text-align: center;
  background: #E5E7FF;
  padding: 30px 20px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}
.stat-box {
  display: flex;
  justify-content: space-around;
  /* margin-top: 30px; */
}

.stat-box div h2 {
  font-size: 40px;
  color: #3d5afe;
  margin: 0px;
}

.stat-box p {
  margin-top: 0px;
  color: #a9afbb;
}
